:root {
	--green: #4aaaa5;
	--gray: #ededed;
	--white: #ffffff;
}

body {
	background-color: var(--gray);
}

.navbar {
	padding: 0;
	width: 100%;
}

.navbar-light .navbar-brand {
	color: var(--white);
}

.navbar-brand {
	background-color: var(--green);
	padding: 10px;
	margin-left: 10px;
	font-weight: bolder;
}

.nav-item {
	margin-right: 10px;
}

.navbar-collapse {
	margin-right: 10px;
}

main>.container {
	padding: 60px 15px 0;
}

.footer {
	background-color: var(--green);
}

.main-image {
	width: 35%;
	float: left;
}

.container {
	padding: 20px;
}

.sub-container {
	background-color: var(--white);
}

.flex-shrink-0 {
	margin-top: 20px;
}

.col-sm {
	padding-top: 10px;
	padding-bottom: 10px;
}